<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">	
	
	<!-- 创建SqlSessionFactory，同时指定数据源 -->
	<!-- <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="ds" />
		<property name="typeAliasesPackage" value="com.cdfg.git.model" />
		<property name="mapperLocations" value="classpath*:com/cdfg/git/sqlMapper/*.xml" />
	</bean>

	<bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate"> 
      <constructor-arg ref="sqlSessionFactory" />
    </bean> 
	<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer" p:basePackage="com.cdfg.git.dao" p:sqlSessionTemplateBeanName="sqlSessionTemplate" />
		 -->
</beans>